:focus{
    outline: 0;
}

.band-color-container{
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
    /* overflow-y: auto; */
    /* align-items: center; */
}

.band-color-item{
    margin-bottom: 10px;
    text-decoration: none;
   
    padding:5px;
}

.band-color-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.band-color-text{
    margin: 0;
     padding: 0;
      font-weight: bold;
}